.blue-box{
    background-color: #4e8ba0;
}

.header{
    padding: 4% 0;
    color: white;
    font-size: 50px;
    text-align: center;
}

.header2{
    padding: 4% 0;
    font-size: 50px;
    text-align: center;
}

.table{
    padding-left: 10%;
    padding-right: 10%;
}

.info{
    padding-top: 20px;
}